@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsla(295, 76%, 51%, 0.812) 0%,
    hsla(284, 70%, 73%, 0.787) 26%,
    rgba(209, 195, 244, 0.646) 39%,
    rgba(206, 236, 253, 0.606) 50%,
    rgba(209, 195, 244, 0.58) 61%,
    hsla(284, 70%, 73%, 0.754) 74%,
    hsla(295, 76%, 51%, 0.814) 100%
  );
  filter: blur(170px);
}

.bg-primary-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(40 88 176 / var(--tw-bg-opacity));
}

.bg-primary-lightBlue {
  --tw-bg-opacity: 1;
  background-color: rgb(70, 173, 253);
}

.bg-primary-darkBlue {
  --tw-bg-opacity: 1;
  background-color: rgb(22 51 164 / var(--tw-bg-opacity));
}

.bg-primary-darkBlue-blue-darkBlue {
  --tw-bg-opacity: 1;
  background-image: linear-gradient(to bottom, rgb(22 51 164), rgb(40 88 176), rgb(40 88 176), rgb(40 88 176), rgb(40 88 176), rgb(22, 51, 164));
}

.bg-primary-blue-darkBlue {
  --tw-bg-opacity: 1;
  background-image: linear-gradient(to bottom, rgb(40 88 176), rgb(22 51 164), rgb(22 51 164), rgb(22 51 164));
}

.bg-primary-blue-darkBlue2 {
  --tw-bg-opacity: 1;
  background-image: linear-gradient(to bottom, rgb(40 88 176), rgb(40 88 176), rgb(40 88 176), rgb(22 51 164));
}

.bg-primary-blue-darkBlue-blue {
  --tw-bg-opacity: 1;
  background-image: linear-gradient(to bottom, rgb(40 88 176), rgb(22 51 164), rgb(22 51 164), rgb(22 51 164), rgb(40 88 176));
}

.bg-primary-darkBlue-blue {
  --tw-bg-opacity: 1;
  background-image: linear-gradient(to bottom, rgb(22 51 164), rgb(40 88 176), rgb(40 88 176), rgb(40 88 176));
}

.bg-primary-darkBlue-blue2 {
  --tw-bg-opacity: 1;
  background-image: linear-gradient(to bottom, rgb(22 51 164), rgb(22 51 164), rgb(22 51 164), rgb(40 88 176));
}


.bg-image {
  background-image: linear-gradient(to bottom, transparent, transparent, transparent, rgb(40 88 176 )), url('/lightbluehorizontal.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;
  overflow: visible;

  background: #36c1d4;
  filter: blur(280px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 8%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(200px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(25, 50, 123, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #7e5688eb;
  filter: blur(220px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}

.fooe {
  background: #8d39a3;
}

@keyframes background-pan {
  from {
    background-position: 0%;
  }
  to {
    background-position: -200% center;
  }
}

.magic-text {
  animation: background-pan 5s linear infinite;
  background: linear-gradient(
    to right,
    rgb(131, 58, 219),
    #67B4DC,
    rgb(179, 109, 229),
    rgb(131, 58, 219)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}